{% extends 'main/base.html' %}
{% block title%}View List{% endblock %}

{% block content%}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
{% if user.is_authenticated %}
        <h1 class="mt-2">My List</h1>
        <hr class="mt-0 mb-4">
        <h1>{{ls.name}}</h1>
        <form method="post" action="#">
            {% csrf_token %}
            {% for item in ls.item_set.all %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <input type="text" value="{{item.text}}" class="form-control">
                        <div class="input-group-text">
                            {% if item.completed == True %}
                            <input type="checkbox" value="clicked" name="check{{item.id}}" checked>
                            {% else %}
                            <input type="checkbox" value="clicked" name="check{{item.id}}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" , name="addItem" , value="addItem" class="btn btn-success">Add Item</button>
                </div>
                <input type="text" , name="Item">
            </div>
            <button type="submit" , name="save" , value="save" class="btn btn-success">Save</button>
        </form>
{% else %}
    <script>if(confirm("User not logged in!")){location.replace("/login/")}</script>
{% endif %}
{% endblock %}