{% extends 'main/base.html' %}
{% block title %}Logout Page{% endblock %}


{% block content %}
{% if user.is_authenticated %}
    <script>alert("User is not logged in!");location.replace("/login/")</script>
    <h1 class="mt-2">My List</h1>
    <hr class="mt-0 mb-4">
    {% load crispy_forms_tags %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
    </form>
    <p>You have been logged out successfully!</p>
    <meta http-equiv="refresh" content="2; url=/login/" />
{% else %}

{% endif %}
{% endblock %}